@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
        margin-right: auto;
        margin-left: auto;
    }

    .mobile-list {
        font-size: 36px;
    }

    .phone {
        font-size: 36px;
    }

    .mobile-team-soc-list {
        gap: 56px;
    }

    /** hero */

    .hero {
        background-image: var(--bg-gradient),
            url(../images/background-image-hero-tab.jpg);
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero {
            background-image: var(--bg-gradient),
                url(../images/background-image-hero-tab-2x.jpg);
        }
    }

    .hero-title {
        font-size: 36px;
        width: 320px;
    }

    .modal {
        width: 392px;
        height: 586px;
        overflow: unset;
    }

    .modal-header {
        font-size: 16px;
    }

    /* ?    PORTFOLIO ???????????????????????????????????????????????????*/
}

/* !!             TAB */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    /* HEADER */

    .mobile-menu,
    .mobile-menu-open {
        display: none;
    }

    .contacts {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }
    .navigate-list {
        display: flex;
        gap: 40px;
        padding-left: 120px;
    }

    .adress-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    /** hero */

    .hero {
        background-image: var(--bg-gradient),
            url(../images/background-image-hero.jpg);
        padding-top: 112px;
        padding-bottom: 112px;
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero {
            background-image: var(--bg-gradient),
                url(../images/background-image-hero-2x.jpg);
        }
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        width: 496px;
        margin-bottom: 36px;
    }
    .hero-btn {
        left: 300px;
        top: 340px;
    }

    .modal {
        width: 408px;
        height: 586px;
    }

    /********************  SECTION TWO */
    .second-title {
        text-align: left;
    }

    .feauter-text {
        width: 356px;
    }

    .feauter-list {
        gap: 72px 24px;
    }

    /*****************?? ? SECTION THREE */
    /* !!!!!!!!!!!!!!SECTION FOUR !!!!!!!!!!!!*/

    .team-list {
        gap: 72px 24px;
    }

    /* *********************SECTION FIVE */

    .customers-list {
        gap: 72px 24px;
    }

    /**!FOOTER**/
    .container-logo {
        align-items: baseline;
    }
    .logo-footer {
        text-align: left;
    }

    .wraper-tab {
        display: flex;
        justify-content: baseline;
        margin-bottom: 0px;
        padding-left: 94px;
    }

    .footer-text {
        width: 264px;
        padding: 0;
        margin-right: 24px;
    }

    .footer-text-soc {
        text-align: left;
    }

    .footer-form {
        display: flex;
        gap: 24px;
        padding-left: 94px;
    }

    .footer-form-input {
        margin-bottom: 0;
        width: 264px;
    }

    .footer-form-field {
        text-align: left;
        justify-content: center;
    }

    .wrap-btn {
        margin-top: unset;
    }

    .footer-header-form {
        text-align: left;
        padding-left: 94px;
    }

    /* ?    PORTFOLIO ???????????????????????????????????????????????????*/

    .filter {
        padding-top: 64px;
        padding-bottom: 96px;
    }

    .portfolio-list {
        gap: 24px;
        justify-content: center;
        margin-bottom: 64px;
    }

    .picture-list {
        gap: 72px 24px;
    }
}
/* ????????????????????????????????             DESCK */

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }

    /* &&&&&&&& HEADER */

    .contacts {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .adress-list {
        flex-direction: row;
        gap: 40px;
    }

    .adress-list :not(:last-child) {
        margin-bottom: 0;
    }

    /** hero */
    .hero {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-size: 1440px;
        background-color: var(--text-color);
        padding-bottom: 188px;
        padding-top: 188px;
    }

    .hero-title {
        font-size: 56px;
        margin-bottom: 48px;
    }

    .hero-btn {
        left: 635px;
        top: 427px;
    }

    .hero-btn:hover,
    .hero-btn:active,
    .hero-btn:focus {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--text-hero);
        background-color: var(--accent-color);
        display: block;
        margin: 0 auto;
    }

    .modal {
        height: 584px;
    }

    /********************  SECTION TWO */

    .feature {
        display: flex;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .second-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .feauter-text {
        width: 264px;
    }

    .feauter-list {
        flex-wrap: unset;
    }

    .feauter-soc-link {
        width: 264px;
        height: 112px;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-bottom: 8px;
        background-color: var(--color-cloud);
        border-radius: 4px;
    }

    /*****************?? ? SECTION THREE */

    .product {
        padding-top: 120px;
        padding-bottom: 120px;
        display: flex;
    }

    .product-list {
        display: flex;
        flex-basis: calc(100% / 3);
        gap: 24px;
    }

    .product-title {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--text-color);
        margin-bottom: 72px;
    }

    /* !!!!!!!!!!!!!!SECTION FOUR !!!!!!!!!!!!*/

    .team-list {
        display: flex;
        justify-content: center;
        flex-basis: calc(100% / 4);
        flex-wrap: unset;
        gap: 24px;
    }

    .team-list {
        flex-basis: calc(100% / 4);
        gap: 24px;
    }

    /* *********************SECTION FIVE */

    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    /**!FOOTER**/

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-text {
        width: 264px;
        margin-top: 16px;
        margin-right: 0;
    }

    .container-logo {
        margin-right: 120px;
        margin-bottom: 0;
    }

    .footer-soc-icon {
        fill: var(--background-color);
    }

    .footer-wrap {
        display: flex;
    }

    .footer-item-wrap {
        margin-bottom: 0;
    }

    .wraper-tab {
        padding-left: 0;
    }
    /* ************************************************foter form */

    .footer-form {
        padding-left: unset;
        margin-left: 80px;
    }

    .footer-header-form {
        padding-left: 78px;
    }

    .footer-form-input {
        width: 264px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .footer-form-submit {
        padding-left: 24px;
        margin-left: 0;
    }

    .footer-item-wrap {
        margin-left: 0;
    }

    .wrap-btn {
        justify-content: unset;
        align-items: unset;
        margin-top: unset;
        margin-left: 0;
    }

    /* !!!!!!!!!!!!!!!!!!!!!!page two portfolio!!!!!!! */
    /* *filter* */
    .filter {
        padding-top: 100px;
        padding-bottom: 120px;
    }

    .portfolio-list {
        margin-bottom: 72px;
    }
    /* ?images list */

    .picture-list {
        gap: 48px 24px;
    }
}
