:root {
    --accent-color: #404bbf;
    --main-text-color: #434455;
    --text-color: #2e2f42;
    --background-color: #ffffff;
    --logo-color-dark: #000000;
    --logo-color: #4d5ae5;
    --text-color-light: #f4f4fd;
    --text-hero: #ffffff;
    --background-color-darck: #2e2f42;
    --btn-color-light: #f4f4fd;
}
body {
    font-family: "Roboto", sans-serif;
    color: var(--main-text-color);
    background-color: var(--background-color);
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
    color: inherit;
}
.btn {
    cursor: pointer;
}
.hover-active:hover,
.hover-active:focus {
    color: var(--accent-color);
}
/********** HEADER **********/
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
}
.logo-black {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--logo-color-dark);
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address {
    font-family: inherit;
    font-style: normal;
    color: var(--main-text-color);
}
.contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ***************************************************HERO******* */
.hero {
    background-color: var(--text-color);
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-hero);
}
.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--text-hero);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    background-color: var(--logo-color);
}
.hero-btn:hover,
ero-btn:active {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--text-hero);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    background-color: var(--logo-color);
}
/******!SECTION TWO *****/
.second-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.feauter-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/* ****section three*** */
.product-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
/* ?section four */
.team {
    background-color: var(--background-color-section-four);
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
}
.team-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
.product-item {
    background-color: #ffffff;
}
/**footer**/
.footer {
    background-color: var(--background-color-darck);
}
.logo-white {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--text-color-light);
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
/* !!!!!!!!!!!!!!!!!!!!!!page two portfolio!!!!!!! */
/* *filter* */
.btn-filter {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--btn-color-light);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    width: 69px;
    height: 48px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: var(--logo-color);
    border: none;
}
.btn-filter:hover,
.btn-filter:focus {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    width: 116px;
    height: 48px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: var(--text-hero);
}
/* ?images list */
.filter-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.filter-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
