:root {
    --accent-color: #404bbf;
    --main-text-color: #434455;
    --text-color: #2e2f42;
    --background-color: #ffffff;
    --logo-color-dark: #000000;
    --logo-color: #4d5ae5;
    --text-color-light: #f4f4fd;
    --text-hero: #ffffff;
    --background-color-darck: #2e2f42;
    --btn-color-light: #f4f4fd;
    --background-section-four: #f4f4fd;
    --line-color: #e7e9fc;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 1158px;
    margin: 0 auto;
    /* outline: 2px solid red; */
    padding-left: 15px;
    padding-right: 15px;
    /* background-color: aqua; */
}
body {
    font-family: "Roboto", sans-serif;
    color: var(--main-text-color);
    background-color: var(--background-color);
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
    color: inherit;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.btn {
    cursor: pointer;
}
.hover-active:hover,
.hover-active:focus {
    color: var(--accent-color);
}
/********** HEADER **********/
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--line-color);
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
    margin-right: 76px;
}
.logo-black {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--text-color);
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.address {
    font-family: inherit;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
.contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    padding-right: auto;
}
.navigate {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.navigate-list {
    display: flex;
    gap: 40px;
}
.adress-list {
    display: flex;
    gap: 40px;
}
.container-header {
    display: flex;
}
/* ***************************************************HERO******* ************************************/
.hero {
    background-color: var(--text-color);
    padding-bottom: 188px;
    padding-top: 188px;
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-hero);
    width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--text-hero);
    background-color: var(--logo-color);
    padding-left: auto;
    padding-right: auto;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    left: 636px;
    top: 436px;
}
.hero-btn:hover,
.hero-btn:active,
.hero-btn:focus {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--text-hero);
    background-color: var(--accent-color);
    display: block;
    margin: 0 auto;
}
/******!SECTION TWO *****/
.feature {
    padding-top: 112px;
}
.second-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.feauter-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    width: 264px;
}
.feauter-list {
    display: flex;
    gap: 24px;
}
/* ****section three*** */
.product-list {
    display: flex;
    flex-basis: calc(100% / 3);
    gap: 24px;
}

.product {
    padding-top: 120px;
    padding-bottom: 120px;
}
.product-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-color);
    margin-bottom: 72px;
}
/* ?section four */
.team {
    background-color: var(--background-section-four);
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-color);
    margin-bottom: 72px;
}
.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-bottom: 8px;
}
.team-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    margin-bottom: 32px;
}
.team-item {
    background-color: var(--background-color);
}
.team-list {
    display: flex;
    flex-basis: calc(100% / 4);
    gap: 24px;
}
.team-picture {
    margin-bottom: 32px;
}

/**footer**/
.footer {
    background-color: var(--background-color-darck);
    padding-top: 100px;
    padding-bottom: 100px;
}
.logo-white {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--text-color-light);
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-section-four);
    width: 264px;
    margin-top: 16px;
}
/* !!!!!!!!!!!!!!!!!!!!!!page two portfolio!!!!!!! */
/* *filter* */
.filter {
    padding-top: 96px;
    padding-bottom: 120px;
}
.btn-filter {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--btn-color-light);
    color: var(--logo-color);
    border: none;
    min-width: 69px;
    padding: 12px 24px;
}
.btn-filter:hover,
.btn-filter:focus {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--accent-color);
    color: var(--text-hero);
    padding: 12px 24px;
}
.portfolio-list {
    margin-bottom: 72px;
    display: flex;
    gap: 24px;
    justify-content: center;
}
/* ?images list */
.filter-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-bottom: 8px;
    margin-top: 32px;
    padding-left: 16px;
    padding-right: 24px;
}
.filter-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 24px;
}
.picture-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.picture-item {
    box-sizing: border-box;
    /* border: 1px solid var(--line-color);  не поміщється в екран, ламає сітку*/
    /* border-top: none; */
    border-bottom: 1px solid var(--line-color);
}
.picture-portfolio {
    width: 360px;
    height: 300px;
}
