:root {
    --accent-color: #404bbf;
    --main-text-color: #434455;
    --text-color: #2e2f42;
    --background-color: #ffffff;
    --logo-color-dark: #000000;
    --logo-color: #4d5ae5;
    --text-color-light-cloud: #f4f4fd;
    --text-hero: #ffffff;
    --background-color-darck: #2e2f42;
    --btn-color-light--cloud: #f4f4fd;
    --background-section-four: #f4f4fd;
    --line-color: #e7e9fc;
    --color-cloud: #f4f4fd;
    --bg-gradient: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    );
    --box-shadow-team: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 1158px;
    margin: 0 auto;
    /* outline: 2px solid red; */
    padding-left: 15px;
    padding-right: 15px;
    /* background-color: aqua; */
}
body {
    font-family: "Roboto", sans-serif;
    color: var(--main-text-color);
    background-color: var(--background-color);
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
    color: inherit;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.btn {
    cursor: pointer;
}
.hover-active:hover,
.hover-active:focus {
    color: var(--accent-color);
}
.menu-link {
    display: flex;
    justify-content: end;
    align-items: ;
}
/* .menu-link:hover::after,
.menu-link:focus::after {
    content: "";
    width: 48px;
    height: 4px;
    background-color: var(--accent-color);
    justify-content: ; }*/

/********** HEADER **********/
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--line-color);
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
    margin-right: 76px;
}
.logo-black {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--text-color);
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.address {
    font-family: inherit;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
.contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    padding-right: auto;
}
.navigate {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.navigate-list {
    display: flex;
    gap: 40px;
}
.adress-list {
    display: flex;
    gap: 40px;
}
.container-header {
    display: flex;
}
/* ***************************************************HERO******* ************************************/
.hero {
    background-image: var(--bg-gradient),
        url(../images/background-image-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 1440px;
    background-color: var(--text-color);
    padding-bottom: 188px;
    padding-top: 188px;
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-hero);
    width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--text-hero);
    background-color: var(--logo-color);
    padding-left: auto;
    padding-right: auto;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    left: 636px;
    top: 436px;
}
.hero-btn:hover,
.hero-btn:active,
.hero-btn:focus {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--text-hero);
    background-color: var(--accent-color);
    display: block;
    margin: 0 auto;
}
/******!SECTION TWO *****/
.feature {
}
.second-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-bottom: 8px;
}
.feauter-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    width: 264px;
}
.feauter-list {
    padding-top: 120px;
    display: flex;
    gap: 24px;
}
.feauter-soc-link {
    width: 264px;
    height: 112px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 8px;
    background-color: var(--color-cloud);
}
/* ****section three*** */
.product-list {
    display: flex;
    flex-basis: calc(100% / 3);
    gap: 24px;
}

.product {
    padding-top: 120px;
    padding-bottom: 120px;
}
.product-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-color);
    margin-bottom: 72px;
}
/* ?section four */
.team {
    background-color: var(--background-section-four);
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-color);
    margin-bottom: 72px;
}
.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-bottom: 8px;
}
.team-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    margin-bottom: 8px;
}
.team-item {
    background-color: var(--background-color);
    box-shadow: var(--box-shadow-team);
    border-radius: 0px 0px 4px 4px;
}
.team-list {
    display: flex;
    flex-basis: calc(100% / 4);
    gap: 24px;
}
.team-picture {
    margin-bottom: 32px;
}
.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-bottom: 32px;
}
.team-soc-item {
    width: 40px;
    height: 40px;
}
.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--logo-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-soc-icon {
    fill: var(--background-color);
}
.team-soc-link:hover,
.team-soc-link:focus,
.team-soc-link:active {
    background-color: var(--accent-color);
}
.team-item-wrap {
}
/* **********section five customers******************* */
.customers-item-wrap {
}
.customers-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-color);
    margin-bottom: 72px;
}
.customers {
    padding-top: 120px;
}
.customers-list {
    display: flex;

    gap: 24px;
    padding-bottom: 120px;
}
.customers-item {
}
.customers-link {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 168px;
    height: 88px;
    box-sizing: border-box;
    border: 1px solid #8e8f99;
    border-radius: 4px;
}
.customers-icon {
    fill: #8e8f99;
}
.customers-link:hover,
.customers-link:focus,
.customers-link:active {
    border: 1px solid var(--accent-color);
}
.customers-icon:hover,
.customers-icon:focus,
.customers-icon:active {
    fill: var(--accent-color);
}
/**footer**/
.footer {
    background-color: var(--background-color-darck);
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-logo-wrap {
    padding-top: 100px;
    padding-bottom: 100px;
}
.logo-white {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--text-color-light-cloud);
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-section-four);
    width: 264px;
    margin-top: 16px;
}

.footer-item-wrap {
}
.footer-text-soc {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-hero);
    margin-bottom: 16px;
}
.footer-soc-list {
    display: flex;
    gap: 16px;
}
.footer-soc-item {
    width: 40px;
    height: 40px;
}
.footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--logo-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-soc-link:hover,
.footer-soc-link:focus,
.footer-soc-link:active {
    background-color: #31d0aa;
}

.footer-soc-icon {
    fill: var(--background-color);
}
.footer-wrap {
    display: flex;
}
/* !!!!!!!!!!!!!!!!!!!!!!page two portfolio!!!!!!! */
/* *filter* */
.filter {
    padding-top: 96px;
    padding-bottom: 120px;
}
.btn-filter {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--btn-color-light);
    color: var(--logo-color);
    border: none;
    min-width: 69px;
    padding: 12px 24px;
}
.btn-filter:hover,
.btn-filter:focus {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--accent-color);
    color: var(--text-hero);
    padding: 12px 24px;
}
.portfolio-list {
    margin-bottom: 72px;
    display: flex;
    gap: 24px;
    justify-content: center;
}
/* ?images list */
.filter-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-bottom: 8px;
}
.filter-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
.picture-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.picture-portfolio :hover,
.picture-portfolio :focus {
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.picture-portfolio {
    width: 360px;
    height: 300px;
}
.picture-portfolio .portfolio-picture-text {
    border: 1px solid var(--line-color);
    border-top: none;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 52px;
}
